{% extends 'layout.html'%}


{% block content%}

<h1 style="text-align: center; margin-top: 50px;">ตะกร้าสินค้า</h1>
<!-- <div class="container"> -->
    <div class="row">
        {% for item in cart_item %}
        <div class="col-lg-4">
            <div class="{% cycle 'menu1' 'menu2' 'menu3' %}">
                <div class="col">
                    <div class="card h-100">
                        <div style="margin: 4px 4px 0px 4px;"><img src="{{item.product.image.url}}" class="card-img-top"
                                alt="food"></div>
                        <!--รูปภาพ-->
                        <div class="card-body">
                            <!--ชื่ออาหาร-->
                            <p class="card-title">{{item.product.name}}</p>
                            <!--ราคาต่อชิ้น-->
                            <p class="card-text">{{item.product.price}}</p>
                            <!--จำนวน-->
                            <p class="card-text">{{item.quantity}}</p>
                            <!--ราคา*จำนวน-->
                            <p class="card-text">{{item.sub_total}}</p>
                            <!--ปุ่มลบ-->
                            <a class="cart_quantity_delete"
                                onclick="return confirm('คุณต้องการลบสินค้าออกจากตะกร้าหรือไม่ ?')"
                                href="{% url 'removecart' item.product.id %}"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<div class="cart">
<!--ยอดรวม-->
<h2>รวมทั้งหมด</h2>
<p>{{total}}</p>
</div>
{% endblock %}