{% extends 'layout.html'%}


{% block content%}


<style>
    .form-group2 {
        width: 500px;
        margin-left: 500px;
        margin-top: 50px;

    }
    .form-group {
        width: 500px;
        margin-left: 500px;
        margin-top: 50px;
    }
    .login {
        
    }
    .box {
        border: 10em;
    }







</style>

<h1 class="login">Login</h1>
<form action="login_process" method="post" class="box">
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            <h5 align="center">{{message}}</h5>
        {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" name="username">
    </div>

    <div class="form-group2">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <input type="submit" value="เข้าสู่ระบบ" class="btn btn-primary">
</form>
<a class="button top" type="button" href="/register" role="button">register</a>
{% endblock %}