{% extends 'layout.html'%}


{% block content%}
<button class="btn-1"><a class="nav-link" href="/add_menu">เพิ่มเมนูอาหาร</a></button>
<button class="btn-1"><a class="nav-link" href="/add_image_main">แก้ไขรูปใหญ่พร้อมใส่คำบรรยาย</a></button>
<button class="btn-1"><a class="nav-link" href="/add_recommend">แก้ไขรูปแนะนำ</a></button>
<button class="btn-1"><a class="nav-link" href="/pagemenu">แก้ไขรูปหน้าmenu</a></button>
<button class="btn-1"><a class="nav-link" href="/logout">ออกจากระบบ</a></button>

{% endblock %}