{% extends 'layout.html'%}


{% block content%}
<form action="register_process" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" name="username">
    </div>

    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password">
    </div>

    <div class="form-group">
        <label for="">Repassword</label>
        <input type="password" class="form-control" name="repassword">
    </div>

    <div class="form-group">
        <label for="">Firstname</label>
        <input type="text" class="form-control" name="firstname">
    </div>

    <div class="form-group">
        <label for="">Lastname</label>
        <input type="text" class="form-control" name="lastname">
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email">
    </div>

    <input type="submit" value="ลงทะเบียน" class="btn btn-primary">
</form>
{% endblock %}