{% extends 'layout.html'%}


{% block content%}
<div class="container-fluid">
<div class="bgimage">
    <div class="user" style="text-align: center; min-height: 100vh;">
        <button class="btn-1" style="margin-top: 4.8%;";"><a class="nav-link" href="/add_menu">เพิ่มเมนูอาหาร</a></button> <br>
        <button class="btn-1"><a class="nav-link" href="/add_image_main">แก้ไขรูปใหญ่พร้อมใส่คำบรรยาย</a></button> <br>
        <button class="btn-1"><a class="nav-link" href="/add_image_main">แก้ไขรูปแนะนำ</a></button> <br>
        <button class="btn-1"><a class="nav-link" href="/add_image_main">แก้ไขรูปหน้าmenu</a></button> <br>
        <button class="btn-1"><a class="nav-link" href="/logout">ออกจากระบบ</a></button>
    </div>
</div>
</div>

{% endblock %}