{% extends 'layout.html'%}

{% block content%}
    {% for table in tables %}
        {% if table.status == False %}
            <div class="col-lg-4">
                <div class="{% cycle 'menu1' 'menu1' 'menu1' %}">
                <div class="col">
                    <div class="card h-100" style="width: 18rem;">
                        <div style="margin: 4px 4px 0px 4px;"><img src="https://cdn.discordapp.com/attachments/881417596199649350/919961610339102760/emtry.jpg" class="card-img-top" alt="food"></div>
                    <div class="card-body">
                            <h4>โต๊ะที่{{table.id}}ไม่ว่าง</h4>
                    </div>
                    </div>
                </div>
        {%endif%}
        {% if table.status == True %}
            <div class="col-lg-4">
                <div class="{% cycle 'menu1' 'menu1' 'menu1' %}">
                <div class="col">
                    <div class="card h-100" style="width: 18rem;">
                        <div style="margin: 4px 4px 0px 4px;"><img src="https://cdn.discordapp.com/attachments/881417596199649350/919961610699804722/full.jpg" class="card-img-top" alt="food"></div>
                    <div class="card-body">
                            <h4>โต๊ะที่{{table.id}}ว่าง</h4>
                    </div>
                    </div>
                </div>
        {%endif%}
    {% endfor %}
{% endblock %}